*{
    box-sizing: border-box;
    margin: auto;
    font-family: sans-serif, 'Times New Roman';
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid  #3f3f3f;
    width: 350px;
    margin-top: 50px;
}
.grid div{
    border: 1px solid #3f3f3f;
    margin: 0;
    padding: 20px 15px;
    text-align: center;
}
.grid div:hover:not(.display):not(.clr){
    background-color: #f0eeee;
    cursor: pointer;
}
.display{
    grid-column-start: 1;
    grid-column-end: 5;
    height: 120px;
}
.display .large{
    border: none;
    text-align: right;
    font-size: 28px;
    width: 300px;
    outline: none;
    margin-bottom: 10px;
    height: 30px;
}
.display .small{
    border: none;
    text-align: right;
    font-size: 17px;
    width: 300px;
    outline: none;
    margin-bottom: 10px;
    height: 30px;
}
.display .clr button{
    padding: 8px;
    font-size: 15px;
    width: 100px;
}
.display .clr{
    border: none;
    padding: 0;
    text-align: left;
    margin-top: 5px;
}